.App {
  text-align: center;
}

.App-header {
  background-color: #1ABC9C;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

nav {
  color: #FFFFFF;
  font-family: 'Kaushan Script', cursive;
  font-size: 40px;
  font-weight: bold;
}

.main-title {
  cursor: pointer
}

.btn {
  font-family: 'Kaushan Script', cursive;
  font-size: 20px
}

i {
  cursor: pointer
}

.nav-color {
  background-color: #212529;
}